@import 'variables';

:host{
    input{
        width: 100%;
        padding: 10px 5px;
        border-radius: 8px;
        border-color: $color-black-transparent-30;
        outline: none;
        color: $color-primary;
        font-size: 1rem;
        font-weight: 500;
        transition: .3s;
        
        &::placeholder{
            color: $color-black-transparent-30;
            font-size: .85rem;
        }

        &:focus, &:active{
            border-color: $color-primary;
            border-width: 2px;
        }
    }

    .suggestions{
        flex-wrap: wrap;

        span{
            background: $color-white;
            margin-right: 5px;
            padding: 5px 10px;
            color: $color-black-transparent-70;
            border: 1px solid $color-black-transparent-30;
            margin-top: 10px;
            font-size: .9rem;
            border-radius: 20px;
            cursor: pointer;
            transition: .3s;

            &:hover{
                background: rgba($color-primary, .8);
                color: $color-white;
            }
        }
    }
}