/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&display=swap");
@import "variables.scss";

html,
body {
  margin: 0;
  padding: 0;
  background-color: $color-background;
}

* {
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
}

.flex {
  display: flex;

  &.flex-center {
    justify-content: center;
    align-items: center;
  }
}

.title{
  color: $color-primary;
  display: block;
  font-weight: 700;

  &-bg{
    @extend .title;
    font-size: 2.2rem;
  }

  &-md{
    @extend .title;
    font-size: 1.4rem;
  }
}

.mt{
  @for $i from 1 to 11{
    &-#{ $i }{
      margin-top: #{ $i }vh;
    }
  }
}

.p-20{
  padding: 20px;
}

.card{
  box-shadow: 0 0 15px $color-black-transparent-03;
  background: $color-white;
  border-radius: 10px;
}